extends layout/main

block content
   tr
    td.wrapper
        p Hello from team WaterTracker #{name} 
        p
            |  We are very glad that you decided to use our service for water balance. This is the last step required for verification,  just confirm your email.
        table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
                tr
                    td(align='center')
                        table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=url target='_blank') Link to verification your email
        p
            | We hope you will be satisfied with our service and now control your water balance with ease.
    p Good luck!